title: Millidocs Theme
description: Documentation for small projects
url: "https://dlga.github.io"
remote_theme: alexander-heimbuch/millidocs
# Build settings
markdown: kramdown
kramdown:
  syntax_highlighter_opts:
    disable : true

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md

sass:
  sass_dir: _sass
  style: compressed
